{% extends 'base.html' %}
{% block title %}Dashboard Директора{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-icon"><i class="bi bi-building"></i></div>
    <div class="page-title">
        <h1>Добро пожаловать,
            {% if request.user.get_full_name %}
                {{ request.user.get_full_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}!
        </h1>
        <p>Панель управления <strong>Директора</strong>. Управление системой и задачами.</p>
    </div>
</div>
{% endblock %}