{% extends 'base.html' %}
{% block title %}Dashboard Менеджера{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-icon"><i class="bi bi-briefcase-fill"></i></div>
    <div class="page-title">
        <h1>Добро пожаловать,
            {% if request.user.get_full_name %}
                {{ request.user.get_full_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}!
        </h1>
        <p>Панель управления <strong>Менеджера</strong>. Контролируйте свои команды и задачи.</p>
    </div>
</div>
{% endblock %}